<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.jiocompany.crudBoard.mypageMapper">
	
	<!-- 마이페이지 내 정보 조회 -->
	<select id="mypage" resultType="MypageDTO" parameterType="String">
	select u_profile, u_id, u_pw, u_name, u_number, u_address
	from user
	where u_id=#{u_id};
	</select>
	
	<!-- 마이페이지 내 정보 수정 -->
	<update id="user_info" parameterType="MypageDTO">
	update user
	set u_pw = #{u_pw}, u_name = #{u_name}, u_number = #{u_number}, u_address = #{u_address}, u_profile = #{u_profile}
	where u_id=#{u_id}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="remove_user" parameterType="String">
	delete
	from user
	where u_id=#{u_id}
	</delete>

</mapper>






